<div class="container">
  <h3 class="display-1 text-center">Payment Information</h3><br><br>
  <div class="row">
    <div class="form-group col">
      <label>Payee Name</label>
      <div>
        <input class="form-control" type="text" (input)="onNameChange($event)">
      </div>
    </div>
    <div class="col">
      <label for=""><b>Name</b></label><br>
      <div>
        {{name | titlecase}}</div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Payment Date</label>
      <div>
        <input class="form-control" type="date" (input)="onDateChange($event)">
      </div>
    </div>
    <div class="col">
      <label for=""><b>Date</b></label><br>
      <div>
        {{date | date : 'MMMM d y' }}</div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Amount</label>
      <div>
        <input class="form-control" type="text" (input)="onAmountChange($event)">
      </div>
    </div>
    <div class="col">
      <label for=""><b>Amount</b></label><br>
      <div>
        {{amount | currency : 'INR' }}</div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Height</label>
      <div>
        <input class="form-control" type="text" (input)="onHeightChange($event)">
      </div>
    </div>
    <div class="col">
      <label for=""><b>Height</b></label><br>
      <div>
        {{height | number : '2.0-2' }}</div>
    </div>
  </div>

  <!-- <div class="row">
    <div class="form-group col">
      <label>Miles</label>
      <div>
        <input class="form-control" type="text" (input)="onMilesChange($event)">
      </div>
    </div>
    <div class="col">
      <label for=""><b>Kilometers</b></label><br>
      <div>
        {{miles | number : '2.0-2' }}</div>
    </div>
  </div> -->
</div>